<mat-toolbar class="green-toolbar">

  <ng-container *ngIf="localStorage.getItem('rol') === 'ROLE_USER' || localStorage.getItem('rol') === 'ROLE_POLI'; else noSesion">

    <!-- Botón Home para ambos roles -->
    <button mat-raised-button [routerLink]="'/Home'" class="home-button">
      <mat-icon>home</mat-icon> Home
    </button>

    <!-- Botón Reportes solo para ADMIN -->
    <button *ngIf="localStorage.getItem('rol') === 'ROLE_POLI'"
            mat-raised-button color="warn" [routerLink]="'/Reportes'">
      <mat-icon>assessment</mat-icon> Reportes
    </button>

    <span class="spacer"></span>

    <span class="user-info">
  <mat-icon>person</mat-icon>
    <span>
      Bienvenido <strong>{{ localStorage.getItem('user') }}</strong> – Rol:
      <span class="rol-pill">{{ localStorage.getItem('rol') }}</span>
    </span>
  </span>

    <button mat-raised-button color="warn" (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon> Cerrar Sesión
    </button>

  </ng-container>

  <ng-template #noSesion>
    <span class="spacer"></span>
  </ng-template>

</mat-toolbar>

