/* Fondo degradado */
.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #330066, #330066);
}

/* Tarjeta centrada */
.login-card {
  width: 320px;
  padding: 20px;
}

/* Título */
.login-title {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

/* Formulario en columna */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Botón ancho */
.login-button {
  width: 100%;
  background-color: #330066;
  color: white;
}

.boton-verde{
  background-color: #330066;
  color: white;
}

.boton-verde:hover {
  background-color: #330066;
}

